* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  
}
.ui.secondary.menu {
  width: 90%;
  /* background-color: aqua; */
  background: 0 0;
  margin-top: 6rem;
  margin-left: 4.642857em;
  
  /* background-color: red; */
  
}
.ui.grid.container{
  width: 90% !important;
  /* background-color: red; */
  margin: 0;
}
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
  /* background-color: red; */
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  /* background-color: red; */
  /* padding-top: 15px; */
}

/* .ui.grid.container {
  width: 90% !important;
  margin-top: 45px;
} */

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 40%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  /* background-color: #ff3e6c; */
  /* border: 1px solid #ff3e6c; */
  /* color: #fff; */
  font-size: 14px;
  margin-left: 0;
}
.ui.placeholder.segment.column.button{
  margin-right: 5px;
}

.ui.card>.button, .ui.card>.buttons, .ui.cards>.card>.button, .ui.cards>.card>.buttons {
    margin: 0 -1px;
    width: calc(100% + 2px);
}
.ui.button{
  border-bottom: 1px solid lightgrey;
}
.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    display: flex;
    margin-left: auto!important;
    /* margin-top: 10px; */
    justify-content: center;
    align-items: center;
}

.count{
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: red;
    color: white;
    outline: 2px solid white;
    font-weight: bold;
    font-size: 0.8rem;
    pointer-events: none;
}

/* border: none;
    position: absolute;
    top: 0px;
    right: 9px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
} */

.ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25% !important;
}

.formContainer{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.login, .sign{
  box-shadow: -1px 4px 21px 9px rgb(166 164 166 / 40%);
  min-width: 20rem;
  border: 1px solid lightgray;
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login input, .sign input{
  width: 20rem;
}

.ui.block.header{
  width: 100%;
  text-align: center;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.footer button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.footer a{
  text-decoration: underline;
  cursor: pointer;
  color: #777;
}
p{
  font-size: 3.5rem;
  font-weight: 400;
  font-style: italic;
}
/* Logo vertical line */
.ui.menu .item:before {
    height: 85%;
   
}
/* /* table * */
.ui.table{
  width: 90%;
  margin: 1rem auto;
}
/* Input disabled */
.ui.disabled.input, .ui.input:not(.disabled) input[disabled] {
    opacity: 0.9;
}
/* Action button */
.ui.circular.button {
    /* border-radius: 10em; */
    opacity: 0.7;
}
.ui.circular.button:hover {
    border-radius: 10em;
    opacity: 1;
}
/* inventory */
.ui.secondary.menu.inventory {
    margin: 2rem 4rem 1rem;
}
/* Table input rows  */
.ui.transparent.input>input {
    border-color: transparent;
    outline: none;
    border: none;
}
.ui.transparent.select>input {
    border-bottom: 1px solid black !important;
}
.ui.transparent.input{
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.ui.transparent.input>textarea{
   border-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 4rem;
    /* background-color: red; */
    resize: none;
    background-color: transparent;
    overflow: hidden;
}
.ui.transparent.select>textarea {
    border-bottom: 1px solid black !important;
}
.ui.container{
  display: flex;
  /* gap: 2rem; */
}

.mainCardConatiner{
  padding: 1rem;
  
  border-radius: 5px;
  box-shadow: -1px 4px 9px 9px rgb(166 164 166 / 40%);
  margin-right: 2rem;
}
.cardContainer{
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  padding: 0.5rem;

  gap: 2rem;
  border-bottom: 0.5px solid #777;
}
.imageSection{
  /* border-right: 1px solid black; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}
.imageSection img{
  width: 8rem;
  height: 8rem;
}
.counterSection{
  display: flex;
  align-items: center;
  gap: 0.5rem;

}
.counterSection button{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
.counterSection button:disabled{
  background-color: lightgray;
  border-color: lightgrey;
  cursor: not-allowed;
}
.counterSection span{
  border: 1px solid black;
  padding: 3px 20px;
  text-align: center;
}
.infoSection{
  width: 100%;
  position: relative;
  padding: 1rem;
}
.infoSection .header{
  font-size: 1.5rem;
  font-weight: 600;
}
.infoSection .price{
  font-size: 1rem;
  font-weight: 500;
  color: grey;

}
.infoSection .metaCategory{
  font-weight: 700;
}
.actionEvents{
  /* background-color: bisque; */
  position: absolute;
  bottom: 20px;
  left: 10px;
  
}
.actionEvents button{
  margin-right: 1rem;
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}
.save:hover{
  background-color: lightgray !important;
}

/* Card price  */
/* class="ui container mainContainer" */
.ui.container.mainContainer{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 4rem;
  gap: 1rem;
}
.finalPriceDetails{
  flex: 1;
  box-shadow: -1px 4px 21px 9px rgb(166 164 166 / 40%);
  /* background-color: red; */
  min-width: 20rem !important;
  /* min-width: 43%; */
  height: 220px;
  border-radius: 5px;
}
.finalPriceDetails .header{
  padding: 1.3rem;
  font-weight: 800;
  color: #777;
}
.finalPriceDetails hr{
  color: black;
}
.priceDeatails{
  padding: 1rem;
}
.priceInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceInfo .itemName{
  color: #222;
  font-weight: lighter;
}
.footer{
  padding: 1rem;
}
.totalPrice span{
  font-size: 1.2rem !important;
  font-weight: bold !important;
} 

.ui.grid.container.single {
    width: 92% !important;
    height: 20% !important;
    margin-bottom: 25rem !important;

}

/* 375,   414, 390, 393, 360, 412, 768, 912, 540, 280, 412, 1024, 1280*/
@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 912px) {

  /* Card layout */
  .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
   
    gap: 20px;
    width: 33% !important;
  }
  
}
@media screen and (max-width: 768px) {
  .ui.container.mainContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 4rem; */
    margin-left: 2rem !important;
    gap: 2rem;
  }
  .mainCardConatiner{
    width: 90% !important;
    margin-right: 0px;
   
  }
  .finalPriceDetails{
    width: 80% !important;
    margin-bottom: 4rem
  }
  .ui.menu.fixed{
    width: 99% !important;
  }

  .ui.grid.container{
    width: 99% !important;
  }

   /* Card layout */
  .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
   
    gap: 20px;
    width: 33% !important;
  }

  .ui.container {
    margin-left: auto!important;
    margin-right: auto!important;
  
  }
  
}
@media screen and (max-width: 540px) {
   .ui.container.mainContainer{
  
    margin-left: 1rem !important;
    margin-right: 0px;
    gap: 2rem;
  }
  .mainCardConatiner{
    width: 90% !important;
    margin-right: 0px;
    margin-left: 4rem;
  }
  .cardContainer {
    padding: 0.1rem;
    gap: 0;
  }
  .infoSection .header {
    font-size: 1rem;
  }

  .mainCardConatiner{
    width: 100% !important;
    margin-right: 0px;
   
  }
  .ui.menu.fixed{
    width: 99% !important;
  }
  .ui.secondary.menu{
    width: 100% !important;
  }
  .ui.grid.container{
    width: 95% !important;
    /* background-color: red; */
  }
   /* Card layout */
  .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
   
    gap: 20px;
    width: 50% !important;
    /* background-color: aqua; */
    
  }

  
}
@media screen and (max-width: 414px) {
  .ui.menu.fixed{
    width: 100% !important;
    margin-right: 0 ;
  }
   .ui.grid.container{
    width: 80% !important;
    /* background-color: red; */
  }
   /* Card layout */
  .ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column {
   
    gap: 20px;
    width: 100% !important;
    /* background-color: aqua */
}
  .login, .sign{
    margin-left: 70px;
    margin-top: 20px;
  }
}
/* ui.container {
    display: flex;
    gap: 2rem;
} */